.levelAnsicht {
-fx-background-color: white;
-fx-padding: 10 10 10 10;
}

.anzeige {
-fx-border-color: grey;
-fx-border-width: 1px;
-fx-alignment: CENTER-LEFT;
-fx-padding: 2px;
}

.button {
-fx-background-color: rgb(255,255,255);
-fx-border-color: black;
-fx-border-width: 2 2 2 2;
-fx-text-fill: black;
-fx-font-size: 12px;
-fx-font-family: "Courier New";
}

.button:hover {
-fx-background-color: gainsboro;
}

.kopfleiste {
-fx-background-color: rgba(255,255,255,0.5);
-fx-padding: 10 10 10 10;
-fx-spacing: 10;
}

.kopfleisteButtonPane {
-fx-alignment: baseline-left;
-fx-spacing: 10;
}

.kopfleisteLabelPane {
-fx-alignment: bottom-right;
-fx-spacing: 40;
}

.label {
-fx-text-fill: black;
-fx-font-size: 12px;
-fx-font-family: "Courier New";
}


